
ul {
  list-style-type: none;
  margin: 8px;
  padding: 10px;
  background-color: bisque;
}

li {
  display: inline;
}

body {
  font-family: 'Roboto';font-size: 18px;
}
#about {
  color: rgb(37, 8, 65);
  background-color: azure;
  text-align: center;
  
}

#work {
  color: brown;
  background-color: rgb(203, 203, 110);
  text-align: center;
  
  
}
.contact {
  background-color: rgb(196, 71, 92);
  text-align: center;
  font-family: 'roboto';
}
.resume {
  background-color: rgba(221, 70, 70, 0.4);
  text-align: center;
  
}